Debug((
    // If true, skips past the main menu:
    // skip_straight_to_game: false,

    // If true, launches the game in full screen mode:
    // launch_fullscreen: true,

    origin_lines_display: Positive,
    origin_lines_length: 100.,
    origin_lines_cone_scale: 10.,

    pause_time_at_game_start: true,
))